
// Шрифты
@mixin font-face($font-family, $url) {
  @font-face {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    src: $url format("woff2");
    font-display: swap;
  }
}
