/* здесь используйте глобальные переменные */
// Цвета
$primary-color:#444444;
$bg-basic-green:#68b738;
$bg-basic-green-2:#5eaa2f;
$bg-basic-green-3: rgba(75, 150, 29, 0.85);
$gb-basic-grey:#f2f2f2;
$bg-grey: #eaeaea;
$error-color: #ff8282;
$bg-darker-grey: #e6e6e6;
$special-grey: #ebebeb;
$special-grey-2: #cdcdcd;
$special-grey-3: #e7e7e7;
$special-grey-4: #666666;
$special-grey-5: #bababa;
$ligher-black-color: #111111;
$black-color:#000000;
$white-color:#ffffff;
$darker-white-color:#d9d9d9;
$dark-grey-color: #222222;

//Шрифты
$oswald-font: "Oswald", "Arial", sans-serif;
$lato-font: "Lato", "Arial", sans-serif;

// Размеры экрана
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;
