.additional-products {}

.additional-products__title {}

.additional-products__wrapper {}

.additional-products__list {}

.additional-products__item {}

.additional-products__inner {
  line-height: 14px;
}

.additional-products__subtitle {
  line-height: 16px;
}

.additional-products__text {}

.additional-products__price {}

.additional-products__button {}

.additional-products__presents-wrapper {
  background-color: rgba($bg-basic-green, 0.85);

  &::before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon-gift");

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }
  }
}

.additional-products__presents-text {
  color: $white-color;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
