.additionally {
  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.additionally__wrapper {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 60px;
    align-items: center;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 38px 80px;
    align-items: start;
  }
}

.additionally__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}

.additionally__label {
  &:not(:last-child) {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
