.button {
  display: inline-block;
  color: $white-color;
  text-align: center;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $bg-basic-green;
  text-decoration: none;
  border: none;
  padding: 10px 8px;

  @media (min-width: $tablet-width) {
    padding: 14px 8px;
  }

  &:hover,
  &:active {
    background-color: $bg-basic-green-2;
  }

  &:active {
    color: rgba($white-color, 0.3);
  }
}
