.catalog {}

.catalog__title {
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
  padding: 27px 0 41px 0;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin-bottom: 165px;
  }
}

.catalog__container {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 144px 60px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 141px 80px;
    margin-bottom: 76px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    padding: 0 37px 40px 37px;
  }
}
