.catalog {}

.catalog__title {
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
  padding: 27px 21px 41px 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin-bottom: 113px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.catalog__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 141px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 141px 80px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    padding: 0 37px 40px 37px;
  }
}
