.ckeckboxmark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $white-color;
  border: 1px solid $special-grey-2;

  &::after {
    position: absolute;
    content: "";
    display: none;
    width: 10px;
    height: 16px;
    top: 16%;
    left: 30%;
    border: solid $bg-basic-green;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -9px;

    &::after {
      width: 15px;
      height: 22px;
      top: 12%;
      left: 28%;
    }
  }
}
