.commentary {}

<<<<<<< HEAD
.commentary__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.commentary__text {
  font-family: $oswald-font;
  padding: 14px 14px 0 15px;
  width: 100%;
  height: 150px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid $special-grey-3;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    height: 175px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
=======
.commentary__title {}

.commentary__text {
  font-family: $oswald-font;
  font-size: 16px;
  text-transform: uppercase;
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d
}
