.commentary__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.commentary__text {
  font-family: $oswald-font;
  padding: 11px 14px 0 15px;
  width: 100%;
  height: 150px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid $special-grey-3;
  margin-bottom: 18px;


  @media (min-width: $tablet-width) {
    height: 175px;
    margin-bottom: 59px;
    padding: 9px 14px 0 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}
