.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.copyright__link {
  display: flex;
  align-items: center;
  color: $primary-color;
  fill: currentColor;
  text-decoration: none;

  &:hover {
    color: $bg-basic-green;
  }

  &:active {
    color: $bg-basic-green;
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 125%;
  margin-right: 138px;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}
