.example {
  position: relative;
  font-family: $oswald-font;
  color: $black-color;
  background-color: $bg-grey;
  padding: 25px 0 40px 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    background: linear-gradient(180deg, $white-color 57%, $bg-darker-grey 57%);
    padding-top: 44px;
    padding-bottom: 100px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      background-color: $bg-darker-grey;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 55px 0;
    background: linear-gradient(180deg, $white-color 22%, $gb-basic-grey 22%);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__item {
  width: 124px;
  position: relative;
  text-align: center;
  padding: 15px 5px;
  border: 1px solid $special-grey-2;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding: 15px 10px 18px;
    width: 162px;
  }
}

.example__text {
  font-family: "Lato", sans-serif;
  color: $primary-color;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    margin-bottom: 69px;
  }
}

.example__stats {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 106px;
  }
}

.example__list {
  display: flex;
  gap: 32px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  line-height: 100%;
  color: $primary-color;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__description-text {
  display: inline-flex;
  background-color: $bg-grey;
  font-family: $lato-font;
  transform: translateY(72%);
  max-width: 70%;


  &::before {
    content: "";
    margin-right: 10px;
  }

  &::after {
    content: "";
    margin-left: 10px;
  }

  @media (min-width: $tablet-width) {
    max-width: 91%;
    background-color: $white-color;
  }

  @media (min-width: $desktop-width) {
    transform: translateY(50%);
    background-color: $gb-basic-grey;
  }
}

.example__number {
  display: block;
  font-size: 24px;
  line-height: 24px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__price {
  display: flex;
  line-height: 20px;
  text-transform: uppercase;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
    font-size: 20px;
    margin-top: 11px;
    flex-direction: row;
    margin-bottom: 0;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    justify-content: start;
  }
}

.example__price-number {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 66px;
  }
}

.example__slider-images {
  position: relative;
}

.example__wrapper-button {
}

.example__button {
  position: absolute;
  z-index: 11;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: $white-color;
  border: 1px solid $special-grey-4;
  top: 42%;
  right: 43%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 108px;
    background-color: $special-grey-4;
    left: 17px;
  }

  &::before {
    top: -108px;
  }

  &::after {
    top: 39px;
  }

  &:hover {
    border-color: $bg-basic-green;

    &::before,
    &::after {
      background-color: $bg-basic-green;
    }

    .example__button-toogle {
      background-color: $bg-basic-green;
    }
  }

  &:active {
    border-color: $bg-basic-green-2;

    &::before,
    &::after {
      background-color: $bg-basic-green-2;
    }

    .example__button-toogle {
      background-color: $bg-basic-green-2;
    }
  }

  @media (min-width: $tablet-width) {
    right: 47%;
    top: 46%;

    &::before,
    &::after {
      height: 236px;
    }

    &::before {
      top: -236px;
    }

    &::after {
      top: 38px;
    }
  }

  @media (min-width: $desktop-width) {
    right: 46%;
  }
}

.example__button-toogle {
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 25px;
  height: 25px;
  background-color: $black-color;
  mask-image: url("../../images/icons/stack.svg#slider-toggle");
  mask-repeat: no-repeat;
}

.example__image--after {}
