.example {
  font-family: $oswald-font;
  color: $black-color;

  &__title {}

  &__text {
    font-family: "Lato", sans-serif;
    color: $primary-color;
  }

  &__stats {}

  &__list {}

  &__description {
    font-size: 12px;
    line-height: 100%;
  }

  &__number {
    font-size: 24px;
    line-height: 24px;
  }

  &__price {
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__slider {}

  &__image {}

  &__image--before {}

  &__wrapper-button {}

  &__button {}

  &__image--after {}
}
