.food {
  font-size: 12px;
  line-height: 16px;
<<<<<<< HEAD
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    gap: 12px 0;
  }
}

.food__term {
  padding: 0;
  margin: 0;
  float: left;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey-2;
  }
}

.food__definition {
  padding: 0;
  margin: 0 0 0 0;
  text-align: end;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey-2;
=======

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d
  }
}

.food__term {}

.food__definition {}
