.footer {
  display: block;
  text-align: center;
  padding: 39px 0;
  background-color: $gb-basic-grey;

  @media (min-width: $tablet-width) {
    padding: 42px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.footer__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.footer__link {
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 416px;
  }
}
