<<<<<<< HEAD
.footer {
  display: block;
  text-align: center;
  padding: 40px 0;
  background-color: $gb-basic-grey;
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__link {

}
=======
.footer {}

.footer__link {}
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d

.footer__copyright {}
