.form-title {
  color: $black-color;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: $white-color;
  display: inline-block;
  padding-right: 20px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 15px;
    left: 21px;
    width: 99%;
    height: 2px;
    background-color: $bg-basic-green;
    z-index: -2;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 41px 0 40px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-left: -40px;

    &::before {
      top: 21px;
      left: -32px;
      width: 108%;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: -108px;
      width: 117%;
    }
  }
}
