.header {
  position: relative;
}

.header.header__container {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, $white-color 50%, $bg-basic-green-3 50%), url("../../images/index-background-desktop.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover, 720px 694px;
  }
}

.header__container {
  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.header__wrapper {
  margin-bottom: 14px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    column-gap: 93px;
    padding-top: 26px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-top: 58px;
    justify-content: space-between;
  }

  &--indent {
    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 71px;
    }
  }
}

.header__logo {}

