.header {
  @media (min-width: $desktop-width) {
    background: linear-gradient(90deg, $white-color 50%, $bg-basic-green 50%);
  }
}

.header__container {
  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {}

