.information {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.information__inner {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 14px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.information__label {
  margin-right: 13px;
}

.information__text:focus + .information__icon  {
  fill: $bg-basic-green;
}

.information__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.information__icon {
  position: absolute;
  right: 12px;
  width: 20px;
  height: 20px;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;

  &--tel {
    background-image: url("../../images/icons/stack.svg#phone-stroke");
  }

  &--email {
    background-image: url("../../images/icons/stack.svg#email-stroke");
  }
}
