.label {
  font-family: $oswald-font;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &:hover .checkmark,
  &:hover .ckeckboxmark {
    border-color: $special-grey-5;
  }
}
