.line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: $special-grey;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}
