.map-contacts {}

.map-contacts__text {
  color: $black-color;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.map-contacts__info {
  line-height: 20px;
}

.map-contacts__address {}
