<<<<<<< HEAD
.map {
  position: relative;
}

.map-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $white-color;
}

.map__contacts {
  padding: 20px 0;

  &--color {
    background-color: $gb-basic-grey;

    @media (min-width: $desktop-width) {
      background-color: $white-color;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 163px 157px;
    gap: 308px;
    padding: 61px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    position: absolute;
    padding: 61px 80px;
    gap: 87px;
    left: 110px;
    top: 95px;
  }
}

.map__container {
  background-color: $gb-basic-grey;

  @media (min-width: $desktop-width) {
    background-color: $white-color;
  }
}


=======
.map-contacts {}
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d

.map-contacts__text {
  color: $ligher-black-color;
  font-family: $oswald-font;
<<<<<<< HEAD
  margin: 0;
  padding: 0;
=======
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

<<<<<<< HEAD

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map-contacts__info {
  line-height: 20px;

  :first-child {
    margin-bottom: 24px;
  }
}

.map-contacts__address {
  @media (min-width: $tablet-width) {
    text-align: end;
  }
=======
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d
}

.map-contacts__info {
  line-height: 20px;
}

.map-contacts__address {}
