.map-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $white-color;
}

.map-contacts__text {
  color: $ligher-black-color;
  font-family: $oswald-font;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map-contacts__info {
  line-height: 20px;

  @media (min-width: $tablet-width) {
    :first-child {
      margin-bottom: 20px;
    }
  }
}

.map-contacts__address {
  font-style: normal;

  @media (min-width: $tablet-width) {
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}
