.navigation {}

.navigation__toggle {}

.navigation__list {}

.navigation__item {}

.navigation__item--current {}

.navigation__link {
  color: $black-color;
  font-family: $oswald-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1280px) {
    font-size: 20px;
    line-height: 20px;
  }

  &--color {
    @media (min-width: 1280px) {
      color: $white-color;
    }
  }
}
