.navigation {}

.navigation__toggle {}

.navigation__list {}

.navigation__item {}

.navigation__item--current {}

.navigation__link {
  color: $black-color;
  font-family: $oswald-font;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  &--color {
    color:$white-color;
  }
}
