.page {
  height: 100%;
}

.page__body {
  height: 100%;
  font-family: $lato-font;
  color: $primary-color;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
