.products-more {
  &__button {}

  &__title {}

  &__text {
    font-size: 12px;
    line-height: 16px;
  }

  &__link {
    color: $primary-color;
    background-color: $gb-basic-grey;
    text-transform: uppercase;
  }
}
