.products-more {}

.products-more__button {}

.products-more__title {}

.products-more__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.products-more__link {
  color: $primary-color;
  background-color: $gb-basic-grey;
  text-transform: uppercase;
}
