.questionnaire {}

.questionnaire__discription {
  color: $black-color;
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.questionnaire__title {}

.questionnaire__form {}

.questionnaire__form-wrapper {}

.questionnaire__field {}

.questionnaire__button {}

.questionnaire__text {
  color: $black-color;
  text-align: center;
  line-height: 16px;
}
