.questionnaire {}

.questionnaire__discription {
  color: $black-color;
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
  max-width: 226px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.questionnaire__wrapper {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-left: 40px;
  }
}

.questionnaire__title {
  margin-bottom: 37px;
  position: relative;

  @media (max-width: $mobile-width) {
    padding-top: 29px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 320px;
      height: 1px;
      background-color: $special-grey;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    border: none;
  }
}

.questionnaire__form {}

.questionnaire__form-wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 69px;

    &:nth-child(2) {
      .information__inner {
        margin-bottom: 0;
      }
    }
  }
}

.questionnaire__field {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.questionnaire__button {
  margin-bottom: 21px;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.questionnaire__text {
  color: $black-color;
  text-align: center;
  line-height: 16px;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}
