.social {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  border-top: 1px solid $darker-white-color;
  border-bottom: 1px solid $darker-white-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__wrapper {
  padding: 20px 0 15px;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.social__item {}

.social__link {
  display: block;
  color: $primary-color;
  fill: currentColor;
  text-decoration: none;

  &:hover .social__image {
    fill: $bg-basic-green;
  }

  &:active .social__image {
    fill: $bg-basic-green;
    opacity: 0.3;
  }
}

.social__image {

}
