.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 24px;
  max-width: 132px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (max-width: $mobile-width) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 71%;
      left: 0;
      width: 100%;
      background-color: $darker-white-color;
      height: 1px;
    }

    &::after {
      bottom: 32%;
    }
  }
}

.social__wrapper {
  padding: 20px 0 15px;
  margin: 20px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: auto;
  }
}

.social__link {
  display: block;
  fill: $primary-color;
  text-decoration: none;

  &:hover .social__image {
    fill: $bg-basic-green;
  }

  &:active .social__image {
    fill: $bg-basic-green;
    opacity: 0.3;
  }
}
