.stages {}

.stages__title {}

.stages__list {}

.stages__item {}

.stages__icon {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.stages__icon--leaf {
  background-image: url("../../images/icons/stack.svg#leaf");
}

.stages__text {}

.stages__number {}

.stages__icon--boil-water {
  background-image: url("../../images/icons/stack.svg#boil-water");
}

.stages__icon--knife-fork {
  background-image: url("../../images/icons/stack.svg#eat");
}

.stages__icon--alarm {
  background-image: url("../../images/icons/stack.svg#clock");
}
