<<<<<<< HEAD
.task__list {
  margin: 0;
  list-style-type: none;
  padding: 22px 0 19px 0;


  @media (min-width: $tablet-width) {
    border: 1px solid $special-grey-3;
    padding: 23px 0 27px 27px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.task__item {
  :not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }
}

.task__label {}

.task__input {}

=======
.task {}

.task__label {}

.task__input {}
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d
