.task__list {
  margin: 0;
  list-style-type: none;
  padding: 27px 0 23px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-grey-3;
    padding: 32px 0 32px 27px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.task__item {
  position: relative;
  display: block;

  &:hover {
    .task__label::before {
      border-color: $special-grey-5;
    }
  }

  &:not(:last-child) {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 26px;
    }
  }
}

.task__label {
  padding-left: 45px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $white-color;
    border: 1px solid $special-grey-2;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      top: -9px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    width: 14px;
    height: 14px;
    top: 14%;
    left: 8px;
    background-color: $bg-basic-green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      left: 11px;
      top: 10%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.task__input:checked ~ .task__label::after {
  display: block;
}

.task__input:focus ~ .task__label::before {
  border-color: $special-grey-5;
}

.task__input:disabled ~ .task__label {
  cursor: default;
  opacity: 0.3;
}
