.text-input {
  border: 1px solid $special-grey-3;
  flex-grow: 1;
  padding: 14px 0 13px 15px;

  &::placeholder {
    color: $primary-color;
    font-family: $oswald-font;
    font-size: 16px;
    text-transform: uppercase;
  }

  &:hover {
    border-color: $special-grey-2;
  }

  &:focus {
    border: none;
    outline: 2px solid $primary-color;
  }

  &:invalid {
    border-color: $error-color;
  }
}
