.title {
  color: $black-color;
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;

<<<<<<< HEAD
  @media (min-width: $tablet-width) {
=======
  @media (min-width: 768px) {
>>>>>>> 8003da14499c40e82ad2edfa479ae441270dc19d
    font-size: 60px;
    line-height: 60px;
  }
}
